* {
  padding: 5px;
  margin: 5px;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  line-height: 1.5;
  font-style: normal;
  background: #9fa6e5;
  color: #f8f5ff;
}